<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="box">
            <form method="post">
            <div class="mainbox">
                <h2 class="heading">Register</h2>
                <div class="content">
                    <input type="text" class = "in" name="name" placeholder="Enter your name">
                    <input type="text" class = "in" name="email" placeholder="Enter your email">
                    <input type="text" class = "in" name="password" placeholder="Enter your password">
                    <button id="btn">Sign Up</button>
                    <div class="goto">Alredy a user login <a href="/">here</a></div>
                </div>
            </div>
        </form>
        </div>
   
</body>
</html>